body {
    font-family: Arial, sans-serif;
    background-color: #90e0ef;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.div {
    background-color: #f4f0bb;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.radio-group {
    margin-bottom: 20px;
}
.radio1:hover {
    cursor: pointer;
}
.radio2:hover {
    cursor: pointer;
}

button {
    background-color: #ffb703;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #e2711d;
    transition: 0.5s;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.state {
    cursor: pointer;
}
.states {
    cursor: pointer;
}
.data {
    cursor: pointer;
}
.project {
    cursor: pointer;
    background-color: white;
}